.noir-theme {
  --dark-hue: 0;
  --color-black: 0, 0%, 0%;
  --color-white: 0, 0%, 100%;
  --color-accent: 208, 100%, 57%;
  --color-accent-faint: 208, 100%, 64%;
  --color-accent-deep: 208, 100%, 47%;
  --color-ink: 0, 0%, 90%;
  --color-ink-dull: 0, 0%, 70%;
  --color-ink-faint: 0, 0%, 50%;
  --color-sidebar: 0, 0%, 0%;
  --color-sidebar-box: 0, 0%, 4%;
  --color-sidebar-line: 0, 0%, 12%;
  --color-sidebar-ink: 0, 0%, 90%;
  --color-sidebar-ink-dull: 0, 0%, 70%;
  --color-sidebar-ink-faint: 0, 0%, 50%;
  --color-sidebar-divider: 0, 0%, 5%;
  --color-sidebar-button: 0, 0%, 6%;
  --color-sidebar-selected: 0, 0%, 12%;
  --color-sidebar-shade: 0, 0%, 0%;
  --color-app: 0, 0%, 3%;
  --color-app-box: 0, 0%, 8%;
  --color-app-dark-box: 0, 0%, 5%;
  --color-app-darker-box: 0, 0%, 2%;
  --color-app-light-box: 0, 0%, 18%;
  --color-app-overlay: 0, 0%, 7%;
  --color-app-input: 0, 0%, 10%;
  --color-app-focus: 0, 0%, 2%;
  --color-app-line: 0, 0%, 14%;
  --color-app-divider: 0, 0%, 0%;
  --color-app-button: 0, 0%, 12%;
  --color-app-hover: 0, 0%, 14%;
  --color-app-selected: 0, 0%, 16%;
  --color-app-selected-item: 0, 0%, 8%;
  --color-app-active: 0, 0%, 18%;
  --color-app-shade: 0, 0%, 0%;
  --color-app-frame: 0, 0%, 14%;
  --color-app-slider: 0, 0%, 10%;
  --color-app-explorer-scrollbar: 0, 0%, 18%;
  --color-menu: 0, 0%, 2%;
  --color-menu-line: 0, 0%, 8%;
  --color-menu-ink: 0, 0%, 90%;
  --color-menu-faint: 0, 0%, 70%;
  --color-menu-hover: 0, 0%, 16%;
  --color-menu-selected: 0, 0%, 18%;
  --color-menu-shade: 0, 0%, 0%;
}
